{% extends "skeleton.html" %}
{% import 'macros/macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <!-- Include DataTables -->
    {{ macros.include_datatables_js_css() }}
    {{ macros.include_datatables_plugins_js_css() }}
    {{ macros.include_chartjs() }}
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/table.js') }}"></script>
    {{ macros.include_plotlyjs() }}
    <div class="container-fluid copy mt-5">
        {% if engineer_view == True %}
        <h2>Engineer Stats: {{ account }}</h2>
        {% else %}
        <h2>Account Stats: {{ account }}</h2>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                {{ macros.display_statistics_table(stats) }}
                <div class="row">{{ macros.outcomes_table(histogram_stats) }}</div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="severityChart"></canvas>
                            <script>
                            var ctx = document.getElementById('severityChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {  labels: {{pie_stats['by_severity'][0] | safe}},
                                datasets: [{
                                    label: 'Severity',
                                    data: {{pie_stats['by_severity'][1] | safe}} ,
                                    backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)'
                                    ],
                                    hoverOffset: 4
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                plugins: {
                                    title: {
                                        display: true,
                                        text: "Cards By Severity",
                                        color: "black",
                                        font: {
                                            size: 22,
                                            weight: "normal"
                                        }
                                    }
                                }
                            }
                            });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="statusChart"></canvas>
                            <script>
                            var ctx = document.getElementById('statusChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {  labels: {{pie_stats['by_status'][0] | safe}},
                                datasets: [{
                                    label: 'Status',
                                    data: {{pie_stats['by_status'][1] | safe}} ,
                                    backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(54, 162, 235)',
                                    'rgb(255, 205, 86)'
                                    ],
                                    hoverOffset: 4
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                plugins: {
                                    title: {
                                        display: true,
                                        text: "Cards by Status",
                                        color: "black",
                                        font: {
                                            size: 22,
                                            weight: "normal"
                                        }
                                    }
                                }
                            }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if engineer_view != True %}
    <div class="bug-table">
        <h2>Bugs and JIRA Issues:</h2>
        <table class="table table-bordered table-hover table-responsive mt-5 w-100"
               id="bugs">
            <thead>
                <tr>
                    <th class="text-center">BZ/JIRA#</th>
                    <th class="text-center">Summary</th>
                    <th class="text-center">Priority/Severity</th>
                    <th class="text-center">Target Release</th>
                    <th class="text-center">Assignee</th>
                    <th class="text-center">QA Contact</th>
                    <th class="text-center">Last Updated</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for account in new_comments %}
                    {% for status in new_comments[account] %}
                        {% for card in new_comments[account][status] %}
                            {% if new_comments[account][status][card]['bugzilla'] != None %}
                                {% for bug in new_comments[account][status][card]['bugzilla'] %}
                                    <tr>
                                        <td class="align-middle text-center">
                                            <a href="{{ bug['bugzillaLink'] }}" target="_blank">{{ bug['bugzillaNumber'] }}</a>
                                        </td>
                                        <td class="align-middle text-center">{{ bug['summary'] }}</td>
                                        <td class="align-middle text-center">{{ bug['severity'] }}</td>
                                        <td class="align-middle text-center">{{ bug['target_release'][0] }}</td>
                                        <td class="align-middle text-center">{{ bug['assignee'] }}</td>
                                        <td class="align-middle text-center">{{ bug['qa_contact'] }}</td>
                                        <td class="align-middle text-center">{{ bug['last_change_time'] }}</td>
                                        <td class="align-middle text-center">{{ bug['status'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if new_comments[account][status][card]['issues'] != None %}
                                {% for issue in new_comments[account][status][card]['issues'] %}
                                    <tr>
                                        <td class="align-middle text-center">
                                            <a href="{{ issue['url'] }}" target="_blank">{{ issue['id'] }}</a>
                                        </td>
                                        <td class="align-middle text-center">{{ issue['title'] }}</td>
                                        <td class="align-middle text-center">{{ issue['priority'] }}</td>
                                        <td class="align-middle text-center">{{ issue['fix_versions'] }}</td>
                                        <td class="align-middle text-center">{{ issue['assignee'] }}</td>
                                        <td class="align-middle text-center">{{ issue['qa_contact'] }}</td>
                                        <td class="align-middle text-center">{{ issue['updated'] }}</td>
                                        <td class="issue-middle text-center">{{ issue['status'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    <h2>Cases:</h2>
    {{ macros.cases_table(new_comments, jira_server, sla_settings) }}
    {{ macros.generate_relief_resolution_histograms(histogram_stats) }}
{% endblock %}
