{% extends "skeleton.html" %}
{% block title %}{% endblock %}
{% block content %}

  <h1>{{ new_cases | length }} Cases Opened in the Last 7 Days:</h1>

  <div>
    <table class="new-cases table table-borderless table-hover">
      <th>case#</th><th>severity</th><th>summary</th>

      {% for case in new_cases %}
      <tr>
        <td><a href=https://access.redhat.com/support/cases/#/case/{{ case.case_number }} target="_blank">{{ case.case_number }}</a></td>
        <td>{{ case.case_severity }}</td>
        <td>{{ case.case_summary }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <hr class="divide">
  <a role="button" class="btn btn-outline-dark btn-lg" href="{{ url_for('ui.updates') }}">New Card Updates</a>
  <a href="{{ url_for('ui.updates') }}">

  <div class="chart-container">
   <canvas id="myChart" width="600px" height="800px"></canvas>
   <script>
       var ctx = document.getElementById('myChart').getContext('2d');
       var myChart = new Chart(ctx, {
           type: 'bar',
           data: {
               labels: ["Backlog", "In Progress", "Waiting on Engineering", "Waiting on Customer", "Done"],
               datasets: [{
                   label: '# of Cards',
                   data: {{ values | safe }},
           backgroundColor: [
           'rgba(255, 255, 255, 1)',
           'rgba(255, 255, 255, 1)',
           'rgba(255, 255, 255, 1)',
           'rgba(255, 255, 255, 1)',
           'rgba(255, 255, 255, 1)'
       ],
           borderColor: [
           'rgba(255, 99, 132, 1)',
           'rgba(54, 162, 235, 1)',
           'rgba(255, 206, 86, 1)',
           'rgba(75, 192, 192, 1)',
           'rgba(153, 102, 255, 1)'
       ],
           borderWidth: 3,
           borderRadius: 5,
  }]
},
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           },
           plugins: {
               title: {
                   display: true,
                       text: "Number of Cards in Each Category",
                           font: {
                       size: 18
                   }

               }
           }
       }
});
   </script>

</div>
</a>
  {% endblock %}
