{% extends "skeleton.html" %}
{% block title %}{% endblock %}
{% block content %}
    <a id="top"></a>
    <div class="new-cases">
        <h2>
            {{ new_cases | length }} <a href="{{ url_for("ui.report_view") }}">Cases</a> Opened in the Last 7 Days:
        </h2>
        <div class="copy">
            <table class="table table-borderless table-hover">
                <th>case#</th>
                <th>account</th>
                <th>severity</th>
                <th>summary</th>
                {% for case in new_cases %}
                    <tr>
                        <td>
                            <a href="https://access.redhat.com/support/cases/#/case/{{ case }}"
                               target="_blank">{{ case }}</a>
                        </td>
                        <td>
                            <a href="{{ url_for('ui.get_account', account=new_cases[case]['account']) }}">{{ new_cases[case]['account'] }}</a>
                        </td>
                        <td>{{ new_cases[case]['severity'] }}</td>
                        <td>{{ new_cases[case]['problem'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <hr class="divide">
        <a role="button"
           class="btn btn-outline-dark btn-lg"
           href="{{ url_for("ui.report_view") }}">Recent Updates</a>
        <a role="button"
           class="btn btn-outline-dark btn-lg"
           href="{{ url_for("ui.report_view_all") }}">All Cards</a>
        <div class="chart-container">
            <canvas id="myChart" width="1475px" height="800px"></canvas>
            <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Backlog", "Debugging", "Waiting on Engineering", "Waiting on Backport", "Ready To Close", "Done"],
                    datasets: [{
                        data: {{ values | safe }},
                        backgroundColor: [
                        'rgba(255, 255, 255, 1)',
                        'rgba(255, 255, 255, 1)',
                        'rgba(255, 255, 255, 1)',
                        'rgba(255, 255, 255, 1)',
                        'rgba(255, 255, 255, 1)'
                        ],
                        borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 3,
                        borderRadius: 5,
                    }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: "black",
                        },
                    },
                    x: {
                        beginAtZero: true,
                        ticks: {
                            color: "black",
                            font: {
                                size: 18
                            }
                        }                   
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "Number of Cards in Each Category",
                        color: "black",
                        font: {
                            size: 22,
                            weight: "normal"
                        }
                    },
                    legend: {
                        display: false
                    }
                }
            }
            });
            </script>
        </div>
    </div>
{% endblock %}
