{% extends "skeleton.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="text-center">
        <div class="col-xs-12" style="height:50px;"></div>
        <a href="?sso" class="btn btn-outline-dark mt-5 btn-lg">Login</a>
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Errors:</strong>
                <ul class="list-unstyled">
                    {% for err in errors %}<li>{{ err }}</li>{% endfor %}
                </ul>
                {% if error_reason %}<span>{{ error_reason }}</span>{% endif %}
            </div>
        {% endif %}
        {% if not_auth_warn %}<div class="alert alert-danger" role="alert">Not authenticated</div>{% endif %}
        {% if wrong_permissions %}
            <div class="alert alert-danger" role="alert">
                You do not belong to the correct LDAP groups, please contact {{ alert_email }} for assistance.
            </div>
        {% endif %}
        <div class="col-xs-12" style="height:50px;"></div>
    </div>
{% endblock %}
