{% extends "skeleton.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="container-fluid copy mt-5">
        <div class="container-fluid pt-2" id="expand-buttons">
            <button type="button" class="btn btn-outline-dark" id="expand-button">Expand All Rows</button>
            <button type="button" class="btn btn-outline-dark" id="collapse-button">Collapse All Rows</button>
        </div>
        <div class="loading text-center fs-3">Loading Table...</div>
        <div class="case-table" style="display: none;">
            <table class="table table-bordered table-hover table-responsive mt-5 w-100"
                   id="data">
                <caption style="caption-side: top; text-align: center;">Note: Use shift+click to sort by multiple columns</caption>
                <thead>
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2" class="text-center">Case#</th>
                        <th rowspan="2" class="text-center">Severity</th>
                        <th colspan="3" class="text-center">Escalations</th>
                        <th rowspan="2" class="text-center">Summary</th>
                        <th rowspan="2" class="text-center">Product</th>
                        <th rowspan="2" class="text-center">Account</th>
                        <th rowspan="2" class="text-center">Case Status</th>
                        <th rowspan="2" class="text-center">Internal Status</th>
                        <th rowspan="2" class="text-center">Assignee</th>
                        <th rowspan="2" class="text-center">Jira</th>
                        <th rowspan="2" class="text-center">Most Recent Comment</th>
                        <th rowspan="2" class="text-center">Days Open</th>
                        <th rowspan="2" class="text-center">Case Last Updated</th>
                    </tr>
                    <tr>
                        <th class="text-center">On Prio-list?</th>
                        <th class="text-center">On Watchlist?</th>
                        <th class="text-center">Crit Sit?</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for account in new_comments %}
                        {% for status in new_comments[account] %}
                            {% for card in new_comments[account][status] %}
                                {% if new_comments[account][status][card]['severity'] == 'Low' %}
                                    {% set severity_order = 1 %}
                                {% elif  new_comments[account][status][card]['severity'] == 'Normal' %}
                                    {% set severity_order = 2 %}
                                {% elif new_comments[account][status][card]['severity'] == 'High' %}
                                    {% set severity_order = 3 %}
                                {% elif new_comments[account][status][card]['severity'] == 'Urgent' %}
                                    {% set severity_order = 4 %}
                                {% endif %}
                                <!-- data-child-data must be wrapped in SINGLE quotes.
                                     Otherwise, our JS can't parse the data. -->
                                <tr data-child-data='{{ new_comments[account][status][card] | tojson }}'>
                                    <td class="align-middle dt-control"></td>
                                    <td class="align-middle text-center">
                                        <a href="https://access.redhat.com/support/cases/#/case/{{ new_comments[account][status][card]['case_number'] }}"
                                           target="_blank">{{ new_comments[account][status][card]['case_number'] }}</a>
                                    </td>
                                    <td data-order="{{ severity_order }}" class="align-middle text-center">
                                        <span class="badge severity {{ new_comments[account][status][card]['severity'] | lower() }}">{{ new_comments[account][status][card]['severity'] }}</span>
                                    </td>
                                    {% if new_comments[account][status][card]['escalated'] %}
                                        {% if new_comments[account][status][card]['escalated_link'] %}
                                            <td class="align-middle text-center">
                                                <a href="{{ new_comments[account][status][card]['escalated_link'] }}">Yes</a>
                                            </td>
                                        {% else %}
                                            <td class="align-middle text-center">Yes</td>
                                        {% endif %}
                                    {% elif new_comments[account][status][card]['potential_escalation'] %}
                                        <td class="align-middle text-center">Potentially</td>
                                    {% else %}
                                        <td class="align-middle text-center">No</td>
                                    {% endif %}
                                    {% if new_comments[account][status][card]['watched'] %}
                                        <td class="align-middle text-center">Yes</td>
                                    {% else %}
                                        <td class="align-middle text-center">No</td>
                                    {% endif %}
                                    {% if new_comments[account][status][card]['crit_sit'] %}
                                        <td class="align-middle text-center">Yes</td>
                                    {% else %}
                                        <td class="align-middle text-center">No</td>
                                    {% endif %}
                                    <td class="align-middle">{{ new_comments[account][status][card]['summary'] }}</td>
                                    <td class="align-middle text-center">{{ new_comments[account][status][card]['product'] }}</td>
                                    <td class="align-middle text-center">
                                        <a href="{{ url_for('ui.get_account', account=new_comments[account][status][card]['account']) }}">{{ new_comments[account][status][card]['account'] }}</a>
                                    </td>
                                    <td class="align-middle text-center">{{ new_comments[account][status][card]['case_status'] }}</td>
                                    <td class="align-middle text-center">{{ new_comments[account][status][card]['card_status'] }}</td>
                                    <td class="align-middle text-center">
                                        {{ new_comments[account][status][card]['assignee']['displayName'] }}
                                        {% if new_comments[account][status][card]['contributor'] | length %}
                                            <br>
                                            <br>
                                            <span class="fw-bold">Contributor(s):</span>
                                        {% endif %}
                                        {% for contributor in new_comments[account][status][card]['contributor'] %}
                                            {{ contributor['displayName'] }}{{ ", " if not loop.last else "" }}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{{ jira_server }}/browse/{{ card }}" target="_blank">{{ card }}</a>
                                    </td>
                                    <td class="align-middle">
                                        <span class="fw-bold fst-italic">{{ new_comments[account][status][card]['comments'][-1][1][:10] }}</span> - {{ new_comments[account][status][card]['comments'][-1][0] | safe }}
                                    </td>
                                    <td class="align-middle text-center">{{ new_comments[account][status][card]['case_days_open'] }}</td>
                                    <td class="align-middle text-center">{{ new_comments[account][status][card]['case_updated_date'] }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Include jQuery + DataTables -->
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-searchpanes/js/dataTables.searchPanes.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
