{% extends "skeleton.html" %}
{% import 'macros/macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="container-fluid copy mt-5">
        {{ macros.cases_table(new_comments, jira_server, sla_settings) }}
    </div>
    <!-- Include DataTables -->
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-searchpanes/js/dataTables.searchPanes.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-searchpanes-bs5/js/searchPanes.bootstrap5.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='node_modules/datatables.net-select/js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript"
            charset="utf8"
            src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
