body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  color: #111;
  padding: 0;
  margin: 1%;
  display: block;
}

div.header {
  text-align: left;
  padding: 1em;
  margin: 0%;
  border: thin solid gray;
  border-width: 1px;
  border-radius: 5px 5px 0 0;
  display: block;
}

div.footer {
  text-align: right;
  padding: 1em;
  margin: 0%;
  border: thin solid gray;
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  display: block;
}

div.content {
  padding: 1em;
  margin: 0%;
  border: thin solid gray;
  border-width: 0 1px;
  border-radius: 0;
  display: block;
}

a {
  text-decoration: underline;
  color: #111;
}

.account {
  color: #f66;
  font-size: 140%;
  font-weight: bold;

}

.status {
  font-size: 130%;
  font-style: italic;
}

.case {
  font-weight: bold;
}

hr.divide {
  border: 1px dashed rgb(136 128 128);
}

.header {
  padding-top: 10px;
}

ul li {
  padding: 5px 0;
}

ul.highlight:hover {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0 0 0 20%);
  transition: all 200ms ease-out;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  float: left;
}

.severity.low {
  background-color: var(--bs-cyan);
  border-radius: 5px;
}

.severity.normal {
  background-color: var(--bs-yellow);
  border-radius: 5px;
}

.severity.high {
  background-color: var(--bs-orange);
  border-radius: 5px;
}

.severity.urgent {
  background-color: red;
  border-radius: 5px;
}

.internalstatus.backlog {
  background-color: var(--bs-cyan);
  border-radius: 5px;
}

.internalstatus.debugging {
  background-color: red;
  border-radius: 5px;
}

.internalstatus.eng-working {
  background-color: var(--bs-orange);
  border-radius: 5px;
}

.internalstatus.backport {
  background-color: var(--bs-yellow);
  border-radius: 5px;
}

.internalstatus.ready-to-close {
  background-color: blue;
  border-radius: 5px;
}

.internalstatus.done {
  background-color: green;
  border-radius: 5px;
}

/* Sidebar */

/* Derived from https://getbootstrap.com/docs/5.1/examples/#snippets */

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0 0 0 85%);
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0 0 0 85%);
  background-color: #eee;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0 0 0 85%);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #eee;
}

.link-dark {
  overflow-wrap: anywhere;
}

/* Moves Sidebar under Navbar */
.sb {
  top: 75px;
  overflow: auto;
  height: calc(100vh - 7rem);
  padding-top: 50px;
}

/* Makes sure content isn't covered by Navbar when Sidebar links are used */
span.anchor {
  margin-top: -75px;
  display: block;
  height: 75px;
  visibility: hidden;
  position: relative;
}

/* Makes sure Navbar doesn't cover content */
.new-cases {
  padding-top: 70px;
}

/* Telco priority */
.telco-priority-1 {
  color: red !important;
}

.telco-priority-2 {
  color: orange !important;
}

.telco-priority-3 {
  color: blue !important;
}

.telco-priority-4 {
  color: black !important;
}
